<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_jxWcsZUjjCE9QBqY2ZkDnpZ0fu0qRqA</string>
	<key>GCM_SENDER_ID</key>
	<string>202971547243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimejiDev.Trims</string>
	<key>PROJECT_ID</key>
	<string>trims-789ba</string>
	<key>STORAGE_BUCKET</key>
	<string>trims-789ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202971547243:ios:5bbe389def7180498bd32e</string>
</dict>
</plist>